/* COMPONENT - VARIABLES */
#content {
    --content-item-gap: 2rem;
    --content-item-min-width: 250px;
    --sidebar-padding: 2rem;
}

/* COMPONENT - STYLING */
/* CONTENT */
#content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--content-item-min-width), 1fr));
    gap: var(--content-item-gap);
    justify-content: center;
}

/* MAIN / SIDEBAR (LEFT) */
#main {
    max-width: 100vw;
    grid-column: span 3;
}

#sidebar-left,
#sidebar-right {
    background: rgba(0, 0, 0, 0.4);
    grid-column: span 1;
    padding: var(--sidebar-padding);
}

@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 1s;
}

::view-transition-old(root) {
    animation-name: slide-out;
}

::view-transition-new(root) {
    animation-name: slide-in;
}

#header {
    view-transition-name: header;
}

#footer {
    view-transition-name: footer;
}

@keyframes slide-in {
    from {
        translate: 100vw 0;
    }
}

@keyframes slide-out {
    to {
        translate: -100vw 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    ::view-transition-group(root) {
      animation-duration: 0;
    }
}
