/*
    Used for styling of logged-in user or every-site login-/logout-button-links.
    For login- logout-form please use Css/components-custom/felogin.css!
 */

.feuser-logout-form {
    & [type="submit"] {
        display: none;
        background: none;
        border: 0;
        box-shadow: none;
        color: inherit;
        padding: 0;

        &:hover {
            color: var(--color-link-hover);
        }
    }
}
