/* COMPONENT - VARIABLES */
#footer {
    --footer-gap: var(--gap, 0.5rem);
    --footer-padding: var(--padding, 1rem);
    --footer-margin: var(--margin, 1rem);
    --footer-bg: #333;
    --footer-color-text: #fff;
    --footer-max-width: 1440px;
    --footer-links-bg: #fff;
}

/* COMPONENT - STYLING */
#footer {
    background: var(--footer-bg);
    position: relative;
    overflow: hidden;
}

.footer-colnav-spacing {
    height: 50px;
    background: #fff;

    @media screen and (max-width: 1400px) {
        height: 90px;
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--footer-gap);
    padding: var(--footer-padding);
    margin: var(--footer-margin) auto 0 auto;
    max-width: var(--footer-max-width);
    position: relative;

    &,
    p,
    a {
        color: var(--footer-color-text);
    }

    .footer-item {
        padding: var(--footer-padding);
        min-height: 185px;
    }

    .footer-logo {
        width: 100%;

        & img {
            max-height: 100px;
            width: auto;
        }
    }

    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4 {
        flex: 0 1 20%;
        min-width: 250px;
        /*flex: 1 1 calc(19% - var(--footer-gap));*/
    }

    .footer-colnav {
        flex-basis: auto;
        min-height: 0;
    }

    .footer-colnav-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        height: 126%;
        width: auto;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: -50px;
        right: 0;
        background: var(--color-primary);
    }

    .footer-colnav-container nav {
        padding: var(--padding);
    }

    @media screen and (max-width: 1400px) {
        & {
            margin-top: 120px;
        }

        .footer-colnav-container {
            border-radius: 0;
            height: auto;
            width: 100%;
            max-width: 100%;
            aspect-ratio: unset;
            left: 0;
            top: -50px;
            clip-path: ellipse(58% 100% at 50% 100%);
            transform: translateY(-100%);
            padding-top: 30px;
        }
    }

    @media screen and (max-width: 640px) {
        .footer-colnav-container {
            clip-path: none;
        }
    }

    .footer-colnav-info-text {
        padding-top: var(--padding);
        width: 100%;
    }

    & nav {
        --nav-color-link: var(--color-text-invert);
    }
}


/* HIDE EMPTY FOOTER */
#footer:empty {
    display: none;
}

/* FOOTER LINKS */
.footer-links {
    background: var(--footer-links-bg);
    padding: 0 var(--footer-padding);
    position: relative;
    z-index: 999;
}

.footer-links-container {
    color: var(--footer-links-color-text);
    padding: calc(var(--footer-padding) / 2) var(--footer-padding);
    max-width: var(--footer-max-width);
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    & a {
        color: var(--footer-links-color-text);
    }

    & a:hover {
        color: var(--footer-links-color-text-hover);
    }

    & nav {}

    & nav img {
        width: 30px;
        height: auto;
    }
}

.footer-links-socialmedia {
    display: flex;
    align-items: center;

    & nav {
        --nav-padding: 0;
    }

    .footer-links-info-text {
        padding-right: var(--padding);
    }
}

.footer-links-nav {
    & nav {
        --nav-padding: 0.5rem;
        --nav-gap: 0;
    }

    & nav li::after {
        content: "|";
    }

    & nav li:last-of-type::after {
        content: initial;
    }
}
