input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    display: block;
    padding: 5px 10px;
    width: 100%;
}

select,
input[type="date"] {
    padding: 5px 10px;
}

fieldset {
    padding: 20px;

    & > legend {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

fieldset[class*="noborder"] {
    border: 0;
    padding: 0;
}

fieldset + fieldset {
    margin-top: 40px;
}

.field-wrap + .field-wrap {
    margin-top: 20px;
}

form {
    & > h3 {
        margin-bottom: 20px;
    }
}
