/* COMPONENT VARIABLES */
#header {
    --header-bg: #fff;
    --header-padding: 0rem;
    --header-margin: 1rem;
    --header-color-text: #fff;
}

/* HEADER */
#header {
    background: var(--header-bg);
    position: relative;
    z-index: 1111;

    & #logo {
        padding: 0.5rem 1rem 0.5rem 2rem;
        justify-self: start;
    }

    & .header-container {
        padding: var(--header-padding);
        color: var(--header-color-text);
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-content: stretch;
        justify-items: end;
        align-items: start;
    }

    & .header-container nav {
        align-self: flex-end;
    }

    & .tx-indexedsearch-searchbox {
        align-self: flex-end;

        & .tx-indexedsearch-search-submit {
            display: none;
        }
    }
}
