/* CE-Images (ce-gallery) */
.ce-gallery {
    container-type: inline-size;
    container-name: gallery;

    & > .ce-gallery-container {
        display: grid;
        grid-template-columns: 100%;
        column-gap: 0px;
        row-gap: 0px;
    }

    &[data-gallery-column-gap="1"] {
        & > .ce-gallery-container {
            column-gap: 1cqw;
        }
    }
    &[data-gallery-column-gap="2"] {
        & > .ce-gallery-container {
            column-gap: 2cqw;
        }
    }
    &[data-gallery-column-gap="3"] {
        & > .ce-gallery-container {
            column-gap: 3cqw;
        }
    }
    &[data-gallery-column-gap="4"] {
        & > .ce-gallery-container {
            column-gap: 4cqw;
        }
    }
    &[data-gallery-column-gap="5"] {
        & > .ce-gallery-container {
            column-gap: 5cqw;
        }
    }
    &[data-gallery-column-gap="6"] {
        & > .ce-gallery-container {
            column-gap: 6cqw;
        }
    }
    &[data-gallery-column-gap="7"] {
        & > .ce-gallery-container {
            column-gap: 7cqw;
        }
    }
    &[data-gallery-column-gap="8"] {
        & > .ce-gallery-container {
            column-gap: 8cqw;
        }
    }
    &[data-gallery-column-gap="9"] {
        & > .ce-gallery-container {
            column-gap: 9cqw;
        }
    }
    &[data-gallery-column-gap="10"] {
        & > .ce-gallery-container {
            column-gap: 10cqw;
        }
    }

    &[data-gallery-row-gap="1"] {
        & > .ce-gallery-container {
            row-gap: 1cqw;
        }
    }
    &[data-gallery-row-gap="2"] {
        & > .ce-gallery-container {
            row-gap: 2cqw;
        }
    }
    &[data-gallery-row-gap="3"] {
        & > .ce-gallery-container {
            row-gap: 3cqw;
        }
    }
    &[data-gallery-row-gap="4"] {
        & > .ce-gallery-container {
            row-gap: 4cqw;
        }
    }
    &[data-gallery-row-gap="5"] {
        & > .ce-gallery-container {
            row-gap: 5cqw;
        }
    }
    &[data-gallery-row-gap="6"] {
        & > .ce-gallery-container {
            row-gap: 6cqw;
        }
    }
    &[data-gallery-row-gap="7"] {
        & > .ce-gallery-container {
            row-gap: 7cqw;
        }
    }
    &[data-gallery-row-gap="8"] {
        & > .ce-gallery-container {
            row-gap: 8cqw;
        }
    }
    &[data-gallery-row-gap="9"] {
        & > .ce-gallery-container {
            row-gap: 9cqw;
        }
    }
    &[data-gallery-row-gap="10"] {
        & > .ce-gallery-container {
            row-gap: 10cqw;
        }
    }
}

@container gallery (width > 600px) {
    .ce-gallery {
        &[data-columns="2"] {
            & > .ce-gallery-container {
                grid-template-columns: 1fr 1fr;
            }
        }

        &[data-columns="3"] {
            & > .ce-gallery-container {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        &[data-columns="4"] {
            & > .ce-gallery-container {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }

    .ce-center .ce-gallery-container {
        justify-items: center;
    }

    .ce-right .ce-gallery-container {
        justify-items: end;
    }
}
