#mobile-dialog {
    border: 0;
    height: 100vh;
    left: -50%;
    max-height: 100vh;
    top: 0;
    transform: translate(0, 0);
    transition: all 500ms;

    @starting-style {
        left: 0px;
    }

    & .mobile-dialog--inner {
        position: relative;
    }

    & .mobile-dialog--close {
        position: absolute;
        right: 0;
        top: 0;
    }

    & .mobile-dialog--content {
        height: 100vh;
    }
}

#mobile-dialog[open] {
    left: 0px;

    @starting-style {
        left: -50%;
    }
}

#mobile-dialog::backdrop {
    background-color: rgba(0,0,0,0.6);
}

/* ------------------------ */

#mobile-dialog {
    & .menu-main {
        & > ul {
            flex-direction: column;
        }
    }
}
