/* COMPONENT - VARIABLES */
.nav-v {
    --nav-padding-h: 10px;
    --nav-padding-v: 2px;
}

/* COMPONENT - STYLING */
.nav-v {
    & ul {
        display: inline-block;
        list-style: none;
        padding: 0;
    }

    & li {
        position: relative;
    }

    & li.active > a {
        color: var(--color-link-hover);
    }

    & li > ul {
        background-color: var(--nav-sub-bg);
        display: none;
        padding: var(--nav-padding-h);
        position: absolute;
    }

    & li:hover > ul,
    & li:focus-within > ul,
    & a:focus ~ ul {
        display: block;
    }

    & > ul > li {
        padding: min(1vw, var(--nav-padding-v)) min(1vw, var(--nav-padding-h) * 2);
    }

    & a {
        color: var(--nav-link-color);
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--nav-link-color-hover);
        }
    }
}

.nav-v.nav-left {
    & > ul {
        margin-left: calc(-1 * min(1vw, var(--nav-padding-h) * 2));
    }
}
