.ce-bodytext ul,
.ce-bodytext ol {
    list-style-position: outside;
    margin-bottom: 20px;
    padding-left: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}

.ce-bodytext ul {
    list-style-type: disc;
}

/* COMPONENT - VARIABLES */
.frame-group-text {
    --frame-item-margin: 1rem;
    --frame-item-gap: 0rem;
}

/* COMPONENT - STYLING */
.frame-group-text {
    & .ce-left {
        & .ce-gallery {
            text-align: left;
        }
    }

    & .ce-center {
        & .ce-gallery {
            text-align: center;
        }
    }

    & .ce-right {
        & .ce-gallery {
            text-align: right;
        }
    }
}


.frame-group-text .ce-intext {
    display: flex;
    flex-wrap: wrap;
    gap: var(--frame-item-gap);

    .ce-gallery picture img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }

    & .ce-gallery {
        flex: 1 1 max(50% - var(--frame-item-gap), 320px);
        text-align: left;
    }


    & .ce-bodytext {
        flex: 1 1 max(50% - var(--frame-item-gap), 320px);
        text-align: left;
    }

    /* CE-RIGHT (Image right, text left) */
    &.ce-right {
        & .ce-gallery {
            order: 1;
        }
    }

    &.ce-left {
    }
}

/* START: custom layouts */

/* END: custom layouts */
