/* COMPONENT - VARIABLES */
.frame-group-text {
    --frame-item-margin: 1rem;
    --frame-item-gap: 0rem;
}

/* COMPONENT - STYLING */
.frame-group-text {
    & .ce-gallery + .ce-bodytext {
        margin-top: var(--frame-item-margin);
    }

    & .ce-bodytext + .ce-gallery {
        margin-top: var(--frame-item-margin);
    }

    & .ce-bodytext ul {
        padding-left: 1rem;
        list-style-type: disc;
    }
}

.frame-group-text .ce-left {
    & .ce-gallery {
        text-align: left;
    }
}

.frame-group-text .ce-center {
    & .ce-gallery {
        text-align: center;
    }
}

.frame-group-text .ce-right {
    & .ce-gallery {
        text-align: right;
    }
}

.frame-group-text .ce-intext {
    display: flex;
    flex-wrap: wrap;
    gap: var(--frame-item-gap);

    .ce-gallery picture img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }

    & .ce-gallery {
        flex: 1 1 max(50% - var(--frame-item-gap), 320px);
        text-align: left;
    }


    & .ce-bodytext {
        flex: 1 1 max(50% - var(--frame-item-gap), 320px);
        text-align: left;
    }

    /* CE-RIGHT (Image right, text left) */
    &.ce-right {
        & .ce-gallery {
            order: 1;
        }

        & .ce-bodytext {
            padding-right: 2rem;
        }
    }

    &.ce-left {
        & .ce-bodytext {
            padding-left: 2rem;
        }
    }
}

/* START: custom layouts */

/* END: custom layouts */
