/* CE-TextMedia */
.frame-type-textmedia {
    container-type: inline-size;
    container-name: textmedia;

    & > .ce-textpic {
        display: grid;
        grid-template-columns: 100%;
        column-gap: 0px;
        row-gap: 0px;

        &[data-column-gap="1"] {
            column-gap: clamp(10px, 1cqw, 12px);
        }

        &[data-column-gap="2"] {
            column-gap: 2cqw;
        }

        &[data-column-gap="3"] {
            column-gap: 3cqw;
        }

        &[data-column-gap="4"] {
            column-gap: 4cqw;
        }

        &[data-column-gap="5"] {
            column-gap: 5cqw;
        }

        &[data-column-gap="6"] {
            column-gap: 6cqw;
        }

        &[data-column-gap="7"] {
            column-gap: 7cqw;
        }

        &[data-column-gap="8"] {
            column-gap: 8cqw;
        }

        &[data-column-gap="9"] {
            column-gap: 9cqw;
        }

        &[data-column-gap="10"] {
            column-gap: 10cqw;
        }

        &[data-row-gap="1"] {
            row-gap: 1cqw;
        }

        &[data-row-gap="2"] {
            row-gap: 2cqw;
        }

        &[data-row-gap="3"] {
            row-gap: 3cqw;
        }

        &[data-row-gap="4"] {
            row-gap: 4cqw;
        }

        &[data-row-gap="5"] {
            row-gap: 5cqw;
        }

        &[data-row-gap="6"] {
            row-gap: 6cqw;
        }

        &[data-row-gap="7"] {
            row-gap: 7cqw;
        }

        &[data-row-gap="8"] {
            row-gap: 8cqw;
        }

        &[data-row-gap="9"] {
            row-gap: 9cqw;
        }

        &[data-row-gap="10"] {
            row-gap: 10cqw;
        }
    }

    & > .ce-textpic.ce-intext {

    }

    & > .ce-textpic.ce-intext.ce-center {
        align-items: center;
    }

    & > .ce-textpic.ce-intext.ce-cover {
        align-items: stretch;
    }

    & > .ce-textpic.ce-cover {
        & .ce-gallery-container {
            height: 100%;

            & figure,
            & picture {
                height: 100%;
            }

            & picture img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    & > .ce-textpic.ce-left {

    }

    & > .ce-textpic.ce-right {

    }

    & > .ce-textpic.ce-left.ce-intext {

    }

    & > .ce-textpic.ce-right.ce-intext {

    }

    & > .ce-textpic.ce-left.ce-intext {

    }

    & > .ce-textpic.ce-right.ce-intext {

    }
}

@container textmedia (width > 600px) {
    .frame-type-textmedia {
        & > .ce-textpic.ce-intext:has(div:nth-child(2)) {
            grid-template-columns: 1fr 1fr;
        }
    }
}
