/* HELPERS */
.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    border: 0;
}

.skip-navigation {
    height: 1px;
    left: 2vw;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    top: -120%;
    width: 1px;

    &:focus {
        height: auto;
        top: 2vw;
        width: auto;
    }
}

.cursor-pointer {
    cursor: pointer;
}

/* ---------------------- */
/* ----- Font-Sizes ------*/
/* ---------------------- */
.font-size-xlarge {
    font-size: var(--font-size-xlarge);
}

.font-size-large {
    font-size: var(--font-size-large);
}

.font-size-slarge {
    font-size: var(--font-size-slarge);
}

.font-size-xmedium {
    font-size: var(--font-size-xmedium);
}

.font-size-medium {
    font-size: var(--font-size-medium);
}

.font-size-smedium {
    font-size: var(--font-size-smedium);
}

.font-size-default {
    font-size: var(--font-size-default);
}

.font-size-small {
    font-size: var(--font-size-small);
}


/* ---------------------- */
/* -- Font-Directions ---*/
/* ---------------------- */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/* ---------------------- */
/* ---- Font-Colors ------*/
/* ---------------------- */
.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}
