:root {
    /* GLOBALS/FALLBACKS for COMPONENTS */
    --body-bg: #fff;
    --overlay-bg: rgba(0, 0, 0, 0.15);
    --border: 1px solid #1a1a1a;
    --border-radius: 5px;
    --box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

    /* Default gap between text and media */
    --gap: 0.5rem;

    /* Default gap between paragraphs */
    --gap-text: 1em;

    /* Gap between header and text, or header and gallery */
    --gap-header: 1em;

    /* Default gap between image and image within gallery  */
    --gap-gallery: 0.5rem;

    /* Horizontal line gap (hr) */
    --gap-hr: var(--gap-text);

    /* COLORS */
    /* (find trendy gradients: https://cssgradient.io/gradient-backgrounds/) */
    --color-primary: #4DAF2E;
    --color-secondary: #333333;
    --color-tertiary: #478C33;

    --color-text: #191919;
    --color-text-invert: #ffffff;

    --color-link: #191919;
    --color-link-hover: #4DAF2E;

    --color-input-bg: #ffffff;

    --btn-primary--bg-color: var(--color-primary);
    --btn-primary--border-color: var(--color-primary);
    --btn-primary--color: #fff;
    --btn-primary--hover-color: var(--color-text);

    --btn-secondary--bg-color: var(--color-secondary);
    --btn-secondary--border-color: var(--color-secondary);
    --btn-secondary--color: #fff;
    --btn-secondary--hover-color: var(--color-text);

    --color-radio-check: #000000;



    /* TYPO */
    /* (responsive fonts: https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/) */
    /* (use a font-size clamp generator for help: https://royalfig.github.io/fluid-typography-calculator) */
    --line-height: 1.4;
    --font-family: 'Mulish', 'Open Sans', Arial, Ubuntu, sans-serif;
    --font-weight: 400;
    --font-size: 1.125rem;

    --font-size-xlarge: clamp(1.5rem, 1.2375rem + 1.3125vw, 2.8125rem); /* 45px */
    --font-size-large: clamp(1.375rem, 1.2125rem + 0.8125vw, 2.1875rem); /* 35px */
    --font-size-slarge: clamp(1.3125rem, 1.2625rem + 0.25vw, 1.5625rem); /* 21 - 25px */
    --font-size-xmedium: clamp(1.1875rem, 1.15rem + 0.1875vw, 1.375rem); /* 19 - 22px */
    --font-size-medium: 20px;
    --font-size-smedium: 20px;
    --font-size-default: 1.125rem;
    --font-size-small: 16px;



    /* Content-Element max widths */
    --frame-max-width-default: 1320px;
    --frame-max-width-small: 1024px;
    --frame-max-width-medium: 1333px;
    --frame-max-width-large: 1680px;
    --frame-max-width-xlarge: 100vw;

    --frame-row-gap-default: 70px;
    --frame-row-gap-small: 2rem;
    --frame-row-gap-large: 4rem;
    --frame-row-gap-xlarge: 6rem;

    --frame-padding-default: 2rem;



    /* Menu Main */
    --menu-main--font-size: 22px;

    --menu-main--color: ;
    --menu-main--color-hover: ;
    --menu-main--color-active: ;

    --menu-main--item-bg: ;
    --menu-main--item-bg-hover: ;

    --menu-main--item-padding: 20px 10px;

    --menu-main--submenu--bg: ;
}
