:root {
    /* GLOBALS/FALLBACKS for COMPONENTS */
    --body-bg: #fff;
    --overlay-bg: rgba(0, 0, 0, 0.15);

    /* COLORS */
    /* (find trendy gradients: https://cssgradient.io/gradient-backgrounds/) */
    --color-primary: #4DAF2E;
    --color-secondary: #333333;
    --color-tertiary: #478C33;
    --color-text: #191919;
    --color-text-invert: #ffffff;
    --color-link: #191919;
    --color-link-hover: #444444;
    --color-input-bg: #ffffff;
    --color-button-text: #ffffff;
    --color-button-text-hover: #4DAF2E;
    --color-button-bg: #4DAF2E;
    --color-button-bg-hover: #ffffff;
    --color-bg-default: #EEEEEE;

    /* TYPO */
    /* (responsive fonts: https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/) */
    /* (use a font-size clamp generator for help: https://royalfig.github.io/fluid-typography-calculator) */
    --line-height: 1.4;
    --font-family: 'Mulish', 'Open Sans', Arial, Ubuntu, sans-serif;
    --font-weight: 400;
    --font-size: 1.125rem;

    --font-size-xlarge: clamp(1.5rem, 1.2375rem + 1.3125vw, 2.8125rem); /* 45px */
    --font-size-large: clamp(1.375rem, 1.2125rem + 0.8125vw, 2.1875rem); /* 35px */
    --font-size-slarge: clamp(1.25rem, 1.1875rem + 0.3125vw, 1.5625rem); /* 25px */
    --font-size-xmedium: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem); /* 22px */
    --font-size-medium: 20px;
    --font-size-smedium: 20px;
    --font-size-default: 1.125rem;
    --font-size-small: 16px;

    --font-size-h1: clamp(1.5rem, 1.325rem + 0.875vw, 2.375rem);
    --font-size-h2: clamp(1.375rem, 1.225rem + 0.75vw, 2.125rem);
    --font-size-h3: clamp(1.3rem, 1.21rem + 0.45vw, 1.75rem);
    --font-size-h4: clamp(1rem, 1vw + 1rem, 1.5rem);
    --font-size-h5: 1rem;
    --font-size-h6: 1rem;

    /* HELPERS */
    --gap: 0.5rem;
    --gap-input: 0.5rem;
    --margin: 1rem;
    --padding: 1rem;
    --padding-input: 0.5rem;
    --padding-button: 0.75rem 1.25rem;
    --border: 1px solid #1a1a1a;
    --border-radius: 5px;
    --border-input: 1px solid #ccc;
    --border-button: 0;
    --box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    --box-shadow-button: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
