<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<article class="article" itemscope itemtype="http://schema.org/Person">
    <div class="article-container" data-has-media="false">
        <div class="ce-bodytext">
            <f:render section="position" partial="Address" arguments="{_all}" />
            <p class="name" itemprop="name">{address.fullName}</p>

            <f:render section="address" partial="Address" arguments="{_all}" />
            <f:render section="contact" partial="Address" arguments="{_all}" />
            <f:render section="social" partial="Address" arguments="{_all}" />

            <f:if condition="{settings.singlePid}">
                <f:link.action action="show" arguments="{address : address}" title="{address.fullName}"
                    pageUid="{settings.singlePid}" class="btn btn-default">{f:translate(key:'more')}
                </f:link.action>
            </f:if>
        </div>
    </div>
</article>

</html>
