<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<footer id="footer">
    <div class="footer-colnav-spacing"></div>
    <div class="row row-1 footer-container">
        <f:if condition="{FooterLogos}">
            <div class="footer-item footer-logo">
                <f:for each="{FooterLogos}" as="reference" iteration="i">
                    <f:image src="{reference.uid}" treatIdAsReference="1" />
                </f:for>
            </div>
        </f:if>

        <div class="footer-item footer-col-1 footer-address">
            <f:format.html>{FooterCol1}</f:format.html>
        </div>

        <div class="footer-item footer-col-2 footer-address">
            <f:format.html>{FooterCol2}</f:format.html>
        </div>

        <div class="footer-item footer-col-3 footer-contact">
            <f:format.html>{FooterCol3}</f:format.html>
        </div>

        <f:if condition="{FooterLinks}">
            <div class="footer-item footer-col-4 footer-colnav">
                <div class="footer-colnav-container">
                    <div class="footer-colnav-info-text">Das wichtigste auf einen Klick:</div>
                    <f:render partial="Menu/TrennerMenu"
                        arguments="{menu: '{FooterLinks}', cssClasses: 'nav-h nav-center'}" />
                </div>
            </div>
        </f:if>
    </div>
</footer>

</html>
