<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{ExampleSites}">
    <aside>
        <details>
            <summary>Links zu den Example Seiten</summary>
            <f:render partial="Menu/TrennerMenu" arguments="{menu: '{ExampleSites}'}" />
        </details>
    </aside>
</f:if>

<header>
    <f:render partial="Logo" arguments="{logos: '{HeaderLogos}'}" />

    <nav class="menu-main" role="navigation" aria-label="{f:translate(key: 'LLL:{settings.pathToThemeXlfFiles}locallang_aria.xlf:aria.label.mainNav')}">
        <f:render partial="Menu/MainMenu" arguments="{menu: '{MenuMain}'}" />
    </nav>

    <f:if condition="{settings.indexedSearchId} && {data.uid} != {settings.indexedSearchId}">
        <f:cObject typoscriptObjectPath="lib.searchfield" />
    </f:if>

    <f:if condition="{settings.feLoginPageUid}">
        <f:security.ifAuthenticated>
            <f:then>
                <f:link.page additionalParams="{logintype: 'logout'}">Logout</f:link.page>
            </f:then>
            <f:else>
                <f:link.page pageUid="{settings.feLoginPageUid}">Login</f:link.page>
            </f:else>
        </f:security.ifAuthenticated>
    </f:if>
</header>

</html>
