<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhseo="http://typo3.org/ns/{{EXTENSION_VENDOR}}/HhSeo/ViewHelpers"
    data-namespace-typo3-fluid="true">

<hhseo:metaTag order="0">
viewport = initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0,user-scalable=yes,width=device-width

title = {f:if(condition: '{data.seo_title}', then: '{data.seo_title}', else: '{data.title}')}
titleBefore = {settings.titleBefore}
titleAfter = {settings.titleAfter}
titleSeparate = "{settings.titleSeparate}"
titleSeparateBefore = "{settings.titleSeparateBefore}"
titleSeparateAfter = "{settings.titleSeparateAfter}"

description = <hhseo:formatIni data="{data.description}" />
author = {f:if(condition: '{data.author}', then: '{data.author}', else: '{hhSeo.author}')}
designer = {f:if(condition: '{hhSeo.designer}', then: '{hhSeo.designer}')}
link:designer = /humans.txt

theme-color = {hhSeo.themeColor}
shortcutIcon = {hhSeo.shortcutIcon}
touchIcon = {hhSeo.touchIcon}
format-detection = false
last-modified = {data.SYS_LASTCHANGED}

robots:index = {f:if(condition: '{data.no_index}', then: 'noindex')}
robots:follow = {f:if(condition: '{data.no_follow}', then: 'nofollow')}

og:title = {data.og_title}
og:description = <hhseo:formatIni data="{data.og_description}" />
<f:if condition="{og_image->f:count()} > 0">
    <f:for each="{og_image}" as="image" iteration="i">
        og:image[] = {f:uri.image(src: '{image.uid}', treatIdAsReference: 1)}
    </f:for>
</f:if>

twitter:title = {data.twitter_title}
twitter:description = <hhseo:formatIni data="{data.twitter_description}" />
twitter:image[] = <f:if condition="{twitter_image.0}">{f:uri.image(src: '{twitter_image.0.uid}', treatIdAsReference: 1)}</f:if>

geo:region = {geoRegion}
geo:placename = {geoPlacename}
geo:position:long = {geoPositionLong}
geo:position:lat = {geoPositionLat}
</hhseo:metaTag>

</html>
