<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{Menu}">
    <nav class="quicklinks" data-sticky="true">
        <ul>
            <f:comment> for search Icon
                <f:if condition="{settings.indexedSearchId}">
                    <li id="quicklink-search"><f:render section="search" arguments="{_all}" /></li>
                </f:if>
            </f:comment>

            <f:for each="{Menu}" as="link">
                <f:render partial="Menu/Elements/ImageItem" arguments="{item: link, files: link.files, label: '{link.title}'}"/>
                </li>
            </f:for>
        </ul>
    </nav>

    <f:asset.css identifier="quicklinks" href="EXT:hh_theme_default/Resources/Public/Css/theme/components/menu-quicklinks.min.css" />
    <f:asset.script identifier="quicklinks">
        // For IE 11 and similar old browsers
        if (CSS && CSS.supports && CSS.supports("position", "sticky")) {
            var quickLinks = '';
        } else {
            var quickLinks = document.querySelectorAll(".quicklinks");
            for (var index = 0; index < quickLinks.length; index++) {
                var element = quickLinks[index];
                element.dataset.sticky = false;
            }
        }
    </f:asset.script>
</f:if>

<f:section name="search">
    <hhdefault:fal table="pages" field="media" id="{settings.indexedSearchId}" as="logos" />
    <f:if condition="{logos}">
        <f:then>
            <span class="files">
                <f:image src="{logos.0.uid}" treatIdAsReference="1" />
            </span>
        </f:then>
        <f:else>
            <span class="title">Search</span>
        </f:else>
    </f:if>
    <div class="content">
        <f:render partial="IndexedSearch" arguments="{settings: settings}" />
    </div>
</f:section>

</html>
