<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:comment>
    Original:
    <f:media class="image-embed-item" file="{file}" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" loading="{loading}" />
</f:comment>

<f:switch expression="{file.extension}">
    <f:case value="gif">
        <f:render section="simple" arguments="{_all}" />
    </f:case>
    <f:case value="svg">
        <f:render section="simple" arguments="{_all}" />
    </f:case>
    <f:defaultCase>
        <picture>
            <f:variable name="maxImageWidth">
                <f:if condition="{settings.maxImageWidth}">
                    <f:then>{settings.maxImageWidth}</f:then>
                    <f:else>1920</f:else>
                </f:if>
            </f:variable>
            <f:alias map="{
                breakpoints: {
                    1920: {min:1601, crop:'default'},
                    1600: {min:1334, crop:'default'},
                    1333: {min:1001, crop:'default'},
                    1000: {min:801,  crop:'default'},
                    800:  {min:601,  crop:'smartphone'},
                    600:  {min:401,  crop:'smartphone'},
                    400:  {min:321,  crop:'smartphone'},
                    320:  {min:200,  crop:'smartphone'}
                }
            }">
                <f:for each="{breakpoints}" as="settings" key="maxWidth">
                    <f:if condition="{maxWidth} <= {maxImageWidth}">
                        <source
                            srcset="{f:uri.image(
                                src: file.uid,
                                treatIdAsReference: 1,
                                cropVariant: settings.crop,
                                maxHeight: data.imageheight,
                                width: dimensions.width,
                                maxWidth: maxWidth,
                                fileExtension: 'webp'
                            )}"
                            type="image/webp"
                            media="(min-width: {settings.min}px)">
                    </f:if>
                </f:for>
            </f:alias>
            <f:if condition="{file.extension} == 'pdf'">
                <f:then>
                    <f:media class="image-embed-item" file="{file}" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" loading="{loading}" />
                </f:then>
                <f:else>
                    <f:image class="image-embed-item" image="{file}" width="{dimensions.width}" height="{dimensions.height}" cropVariant="default" maxWidth="1920" loading="{loading}" />
                </f:else>
            </f:if>
        </picture>
    </f:defaultCase>
</f:switch>

<f:section name="simple">
    <f:variable name="height"><f:if condition="{dimensions.height}"><f:then>{dimensions.height}</f:then><f:else>{file.properties.height}</f:else></f:if></f:variable>
    <f:variable name="width"><f:if condition="{dimensions.width}"><f:then>{dimensions.width}</f:then><f:else>{file.properties.width}</f:else></f:if></f:variable>
    <img src="{f:uri.image(src:'{file.uid}', treatIdAsReference:'1', cropVariant: 'default', height: '{height}', maxHeight: '{data.imageheight}', width: '{width}', maxWidth: '{data.imagewidth}')}"
        {f:if(condition: '{data.imagewidth}', then: 'width="{data.imagewidth}"', else: 'width="{width}"')}
        {f:if(condition: '{data.imageheight}', then: 'height="{data.imageheight}"', else: 'height="{height}"')}
        {f:if(condition: '{file.title}', then: 'title="{file.title}"')}
        {f:if(condition: '{file.alternative}', then: 'alt="{file.alternative}"', else: 'alt=""')}
        loading="{loading}"
    />
</f:section>

</html>
