<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
      data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<f:section name="content"><f:debug>{newsItem}</f:debug>
    <f:if condition="{newsItem}">
        <f:then>
            <div class="header">
                <h1 itemprop="headline">{newsItem.title}</h1>
            </div>

            <div class="footer">
                <p>
                    <span class="news-list-date">
                        <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, pattern:'yyyy-MM-ee')}">
                            <f:format.date pattern="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                        </time>
                    </span>

                    <f:if condition="{newsItem.categories}">
                        <f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
                    </f:if>

                    <f:if condition="{newsItem.tags}">
                        <span class="news-list-tags" itemprop="keywords">
                        <f:for each="{newsItem.tags}" as="tag">
                            {tag.title}
                        </f:for>
                        </span>
                    </f:if>

                    <f:if condition="{newsItem.author}">
                        <span class="news-list-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                            <f:translate key="author_simple" /> <span itemprop="name">{newsItem.author}</span>
                        </span>
                    </f:if>
                </p>
            </div>

            <n:renderMedia news="{newsItem}" imgClass="img-responsive" videoClass="video-wrapper" audioClass="audio-wrapper">
                <f:if condition="{newsItem.teaser}">
                    <div class="teaser-text" itemprop="description">
                        <f:format.html>{newsItem.teaser}</f:format.html>
                    </div>
                </f:if>

                <f:if condition="{newsItem.contentElements}">
                    <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
                </f:if>

                <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.mediaNonPreviews, settings:settings}" />

                <div class="news-text-wrap" itemprop="articleBody">
                    <f:format.html>{newsItem.bodytext}</f:format.html>
                </div>
            </n:renderMedia>

            <f:if condition="{settings.backPid}">
                <div class="news-backlink-wrap">
                    <f:link.page pageUid="{settings.backPid}">
                        <f:translate key="back-link" />
                    </f:link.page>
                </div>
            </f:if>

            <div class="news-related-wrap">
                <f:if condition="{newsItem.allRelatedSorted}">
                    <div class="news-related news-related-news">
                        <h4>
                            <f:translate key="related-news" />
                        </h4>
                        <ul>
                            <f:for each="{newsItem.allRelatedSorted}" as="related">
                                <li>
                                    <span class="news-related-news-date"><f:format.date pattern="{f:translate(key:'dateFormat')}">{related.datetime}</f:format.date></span>
                                    <n:link newsItem="{related}" settings="{settings}" title="{related.title}">
                                        {related.title}
                                    </n:link>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </f:if>

                <f:if condition="{newsItem.relatedFiles}">
                    <div class="news-related news-related-files">
                        <h4>
                            <f:translate key="related-files" />
                        </h4>
                        <ul>
                            <f:for each="{newsItem.relatedFiles}" as="relatedFile">
                                <li>
                                    <span class="news-related-files-link">
                                        <a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
                                            {f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
                                        </a>
                                    </span>
                                    <span class="news-related-files-size">
                                        {relatedFile.originalResource.size -> f:format.bytes()}
                                    </span>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </f:if>

                <f:if condition="{newsItem.relatedLinks}">
                    <div class="news-related news-related-links">
                        <h4>
                            <f:translate key="related-links" />
                        </h4>
                        <ul>
                            <f:for each="{newsItem.relatedLinks}" as="relatedLink">
                                <li>
                                    <f:link.typolink parameter="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.typolink>
                                    <f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </f:if>
            </div>
        </f:then>
        <f:else>

        </f:else>
    </f:if>
</f:section>

</html>
