<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.css identifier="news-cards-default" href="EXT:hh_theme_default/Resources/Public/Css/components-custom/news-cards-default.bundle.css" />
<f:if condition="{settings.cssFile}">
    <f:asset.css identifier="ext-news" href="{settings.cssFile}" />
</f:if>

<f:render partial="Detail/MetaTags" arguments="{_all}" />

<f:if condition="{newsItem}">
    <f:if condition="{settings.detail.showPrevNext}">
        <n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
            <f:if condition="{paginated}">
                <ul class="pager">
                    <f:if condition="{paginated.prev}">
                        <li class="previous">
                            <n:link newsItem="{paginated.prev}" settings="{settings}">
                                <span aria-hidden="true">&larr; </span>{paginated.prev.title}
                            </n:link>
                        </li>
                    </f:if>
                    <f:if condition="{paginated.next}">
                        <li class="next">
                            <n:link newsItem="{paginated.next}" settings="{settings}" class="next">
                                {paginated.next.title} <span aria-hidden="true"> &rarr;</span>
                            </n:link>
                        </li>
                    </f:if>
                </ul>
            </f:if>
        </n:simplePrevNext>
    </f:if>
</f:if>

<article class="news news-single template-{f:if(condition: '{settings.templateLayout}', then: '{settings.templateLayout}', else: 'default')}" itemscope="itemscope" itemtype="http://schema.org/Article">
    <f:render section="content" />
</article>

</html>
