<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{item.spacer} || {item.current}">
    <f:then>
        <li
            class="{f:if(condition: '{item.current}', then:' active current')}{f:if(condition:item.spacer, then:' spacer')} {f:if(condition:'{item.hasSubpages}', then:'has--children')}">
            <f:render partial="Menu/Elements/Link" arguments="{item: item, files: files, label: label}" />
    </f:then>
    <f:comment>
        https://forge.typo3.org/issues/97037
        https://forge.typo3.org/issues/97186
        ORIGINAL: <f:else if="{item.active}"></f:else>
        WORKAROUND: <f:else if="{item.active} && {item.data.doktype} !== 4"></f:else>
        doktype 4 = shortcut page
    </f:comment>
    <f:else if="{item.active} && {item.data.doktype} !== 4">
        <li
            class="{f:if(condition: '{item.active}', then:'active')} {f:if(condition:'{item.hasSubpages}', then:'has--children')}">
            <f:render partial="Menu/Elements/Link" arguments="{item: item, files: files, label: label}" />
    </f:else>
    <f:else>
        <li class="{f:if(condition:'{item.hasSubpages}', then:'has--children')}">
            <f:render partial="Menu/Elements/Link" arguments="{item: item, files: files, label: label}" />
    </f:else>
</f:if>

</html>