<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">

<article class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}"
    itemscope="itemscope" itemtype="https://schema.org/Article">

    <n:excludeDisplayedNews newsItem="{newsItem}" />

    <f:if condition="{newsItem.mediaPreviews}">
        <f:then>
            <div class="news-img-wrap">
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                        <f:if condition="{mediaElement.originalResource.type} == 2">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                alt="{mediaElement.originalResource.alternative}"
                                loading="{settings.list.media.image.lazyLoading}"
                                maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 4">
                            <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 5">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                alt="{mediaElement.originalResource.alternative}"
                                loading="{settings.list.media.image.lazyLoading}"
                                maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                        </f:if>
                    </f:alias>
                </n:link>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{settings.displayDummyIfNoMedia}">
                <div class="news-img-wrap">
                    <span class="no-media-element">
                        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                            <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                loading="{settings.list.media.image.lazyLoading}"
                                maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                        </n:link>
                    </span>
                </div>
            </f:if>
        </f:else>
    </f:if>

    <div class="ce-textpic">
        <div class="header">
            <h4>
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}"
                    additionalAttributes="{itemprop:'url'}">
                    <span itemprop="headline">{newsItem.title}</span>
                </n:link>
            </h4>
        </div>

        <div class="teaser-text">
            <n:removeMediaTags>
                <f:if condition="{newsItem.teaser}">
                    <f:then>
                        <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters:
                            '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                    </f:then>
                    <f:else>
                        <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters:
                            '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                    </f:else>
                </f:if>
            </n:removeMediaTags>
        </div>

        <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
            Jetzt weiterlesen
            <f:comment><f:translate key="more-link" /></f:comment>
        </n:link>
    </div>
</article>

</html>
