.ce-uploads {
    margin-left: 20px;
}

.ce-uploads-imagegallery {
    -webkit-column-width: 300px;
       -moz-column-width: 300px;
            column-width: 300px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 0;
    gap: 0;

    list-style: none;
    margin-left: 0;

    video {
        max-width: 100%;
    }

    a {
        display: block;
        margin: 0;
        padding: 5px;
        overflow: hidden;

        figure {
            overflow: hidden;
        }

        img {
            transition: all 400ms;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }
}
