.ce-textpic {
    &.ce-intext.ce-nowrap {
        display: flex;
        flex-direction: column;

        .ce-gallery {
            flex-shrink: 2;
        }

        @media screen and (min-width: 1200px) {

        }
    }

    @media screen and (min-width: 1200px) {
        &.ce-intext.ce-nowrap {
            flex-direction: row;

            .ce-gallery {
                max-width: 50%;
            }

            &.ce-left {
                .ce-gallery {
                    margin-right: 20px;
                }
            }

            &.ce-right {
                .ce-gallery {
                    margin-left: 20px;
                }
            }
        }
    }
}
