<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{gallery.rows}">
    <div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')} {f:if(condition: '{data.image_zoom}', then: 'image-zoom')}"
        data-columns="{gallery.count.columns}" data-images="{gallery.count.files}"
        data-settings-columns="{data.imagecols}">
        <div class="ce-gallery-container">
            <f:for each="{gallery.rows}" as="row">
                <f:for each="{row.columns}" as="column">
                    <f:if condition="{column.media}">
                        <div class="ce-column" data-type="{column.media.extension}">
                            <f:render partial="Media/Type"
                                arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
                        </div>
                    </f:if>
                </f:for>
            </f:for>
        </div>
    </div>
</f:if>

</html>