<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:asset.css identifier="address" href="EXT:hh_theme_default/Resources/Public/Css/components/address.css" />
<f:comment>
    <f:asset.script identifier="address" src="EXT:hh_theme_default/Resources/Public/JavaScript/components/address.js" />
</f:comment>

<f:if condition="{contentObjectData}">
    <f:variable name="data">{contentObjectData}</f:variable>
</f:if>
<div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
    <f:render partial="Header/All" arguments="{data: '{data}', settings: '{settings}'}" />

    <f:render section="main" />
</div>

</html>
