<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:variable name="minified"><f:if condition="{settings.compressFiles}">.min</f:if></f:variable>

<f:asset.css identifier="slider" href="EXT:hh_slider/Resources/Public/Css/slider{minified}.css" />
<f:asset.css identifier="default-theme-preload" href="EXT:hh_theme_default/Resources/Public/Css/default-theme{minified}.css" rel="preload" as="style" crossorigin="" />
<f:asset.css identifier="default-theme" href="EXT:hh_theme_default/Resources/Public/Css/default-theme{minified}.css" />

</html>
