<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:comment><!-- Header --></f:comment>
<f:asset.script identifier="first" priority="true">
    document.documentElement.className += (("ontouchstart" in document.documentElement) ? ' touch' : ' no-touch');var root = document.documentElement;root.className += ' js';
</f:asset.script>
<f:asset.script identifier="functions" src="EXT:hh_theme_default/Resources/Public/JavaScript/functions.min.js" priority="true" additionalAttributes="{rel: 'preload', as: 'script', crossorigin: ''}" />

<f:comment><!-- Body end - librarys --></f:comment>
<f:asset.script identifier="emailSpamProtection" src="EXT:hh_theme_default/Resources/Public/JavaScript/email-spam-protection.min.js" />
<f:asset.script identifier="jquery" src="EXT:hh_theme_default/Resources/Public/JavaScript/Libs/jquery-3.5.1.min.js" />
<f:asset.script identifier="baguetteBox" src="EXT:hh_theme_default/Resources/Public/JavaScript/Libs/baguetteBox.min.js" />
<f:asset.script identifier="io" src="EXT:hh_theme_default/Resources/Public/JavaScript/Libs/io.min.js" />
<f:asset.script identifier="slider" src="EXT:hh_slider/Resources/Public/JavaScript/tiny-slider.min.js" />

<f:asset.script identifier="powermail/datetimepicker" src="EXT:powermail/Resources/Public/JavaScript/Libraries/jquery.datetimepicker.min.js" />
<f:asset.script identifier="powermail/parsley" src="EXT:powermail/Resources/Public/JavaScript/Libraries/parsley.min.js" />
<f:asset.script identifier="powermail/Tabs" src="EXT:powermail/Resources/Public/JavaScript/Powermail/Tabs.min.js" />
<f:asset.script identifier="powermail/Form" src="EXT:powermail/Resources/Public/JavaScript/Powermail/Form.min.js" />

<f:comment><!-- Body end - config --></f:comment>
<f:asset.script identifier="slider.config" src="EXT:hh_slider/Resources/Public/JavaScript/main.min.js" />
<f:asset.script identifier="baguetteBox.config" src="EXT:hh_theme_default/Resources/Public/JavaScript/LibsConfig/baguetteBox.config.min.js" />

</html>
