<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<hhdefault:assets extKey="hh_theme_default" src="functions.min.js" order="1" position="head" async="1" defer="0" />

<hhdefault:assets extKey="hh_theme_default" src="Libs/jquery-3.3.1.min.js" order="10" async="1" defer="0" />
<hhdefault:assets extKey="hh_slider" src="tiny-slider.min.js" order="20" />
<hhdefault:assets extKey="hh_theme_default" src="Libs/baguetteBox.min.js" order="30" />
<hhdefault:assets extKey="hh_theme_default" src="Libs/io.min.js" order="40" />
<hhdefault:assets extKey="hh_theme_default" src="LibsConfig/baguetteBox.config.min.js" order="50" />

</html>
