@import '../variables';

$quicklinks-element-bg-color: #003871;
$quicklinks-element-link-color: #fff;

.sticky-container {
    position: relative;
}

.quicklinks {
    height: 100%;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 210px;
    z-index: 880;

    > ul {
        position: sticky;
        right: 0;
        top: 0;

        li {
            background-color: $quicklinks-element-bg-color;
            height: 60px;
            overflow: hidden;

            &:hover {
                .title {
                    max-width: 350px;
                    padding: 5px 10px;
                }
            }
        }

        a {
            color: $quicklinks-element-link-color;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 60px;
            position: relative;
            transform: translateX(0);
            transition: color 150ms linear 10ms, transform 400ms, background-color 400ms, padding-left 200ms linear 300ms;

            img {
                background-color: transparent;
                display: block;
                max-width: 64px;
                max-height: 60px;
            }

            .title {
                max-width: 0;
                overflow: hidden;
                transition: max-width 500ms, padding-left 550ms, padding-right 550ms;
            }
        }
    }

    &[data-sticky="false"] {
        position: absolute;
    }
}

#quicklink-search {
    transition: all 400ms;

    .content {
        background-color: $color-brand;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;

        .searchbox {
            height: 100%;

            > form {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                height: 100%;

                input[type="text"] {
                    font-size: 16px;
                    height: 36px;
                    max-width: calc(100% - 30px);
                }

                .searchbox-button {
                    height: 36px;
                    width: 30px;
                }
            }
        }
    }

    &:hover {
        margin-left: -264px;
        width: 328px;
    }
}
