.powermail_tab_navigation {
    margin-top: 20px;
}

.powermail_fieldwrap_checkboxlink {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.btn-group + fieldset {
    margin-top: 40px;
}

.tx-powermail {

}
