services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  {{EXTENSION_VENDOR}}\{{EXTENSION_NAMESPACE}}\:
    resource: '../Classes/*'
    exclude: '../Classes/Domain/Model/*'

  {{EXTENSION_VENDOR}}\{{EXTENSION_NAMESPACE}}\EventListener\AfterBackendPageRenderEventListener:
    tags:
      - name: event.listener
        event: TYPO3\CMS\Backend\Controller\Event\AfterBackendPageRenderEvent

  {{EXTENSION_VENDOR}}\{{EXTENSION_NAMESPACE}}\DataProcessing\OpeningHoursProcessor:
    public: true
    tags:
        - name: 'data.processor'
          identifier: 'opening-hours'
