<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Text" />

<f:section name="Main">
    <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}"
        data-row-gap="{data.row_gap}" data-column-gap="{data.column_gap}"
    >
        <f:if condition="{gallery.position.vertical} != 'below'">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </f:if>

        <f:if condition="{gallery.position.noWrap} != 1">
            <f:render partial="Header/All" arguments="{_all}" />
        </f:if>
    </div>
</f:section>

</html>
