<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <f:if condition="{menu}">
        <f:switch expression="{data.layout}">
            <f:case value="10">
                <f:render section="border" arguments="{_all}" />
            </f:case>
            <f:case value="20">
                <f:render section="onlyicons" arguments="{_all}" />
            </f:case>
            <f:case value="25">
                <f:render section="onlyimages" arguments="{_all}" />
            </f:case>
            <f:case value="30">
                <f:render section="horizontal" arguments="{_all}" />
            </f:case>
            <f:defaultCase>
                <f:render section="default" arguments="{_all}" />
            </f:defaultCase>
        </f:switch>
    </f:if>
</f:section>

<f:section name="default">
    <ul>
        <f:for each="{menu}" as="page">
            <li>
                <a href="{page.link}" {f:if(condition: page.target, then: 'target="{page.target}"')} title="{page.title}" class="{f:if(condition: page.active, then: 'act')}" {f:if(condition: '{page.data.doktype} == 3', then: 'rel="noopener"')}>
                    <span>{page.title}</span>
                </a>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="border">
    <ul class="menu-border">
        <f:for each="{menu}" as="page">
            <li>
                <a href="{page.link}" {f:if(condition: page.target, then: 'target="{page.target}"')} title="{page.title}" class="{f:if(condition: page.active, then: 'act')}" {f:if(condition: '{page.data.doktype} == 3', then: 'rel="noopener"')}>
                    <span>{page.title}</span>
                </a>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="onlyicons">
    <ul class="menu-icons sub-menu-icons">
        <f:for each="{menu}" as="page">
            <li>
                <a href="{page.link}" {f:if(condition: page.target, then: 'target="{page.target}"')} title="{page.title}" class="{f:if(condition: page.active, then: 'act')}" {f:if(condition: '{page.data.doktype} == 3', then: 'rel="noopener"')}>
                    <f:for each="{page.files}" as="file">
                        <img src="{f:uri.image(src:'{file.uid}', treatIdAsReference:'1', cropVariant: 'default', minWidth: 40, maxWidth: 40)}" width="40" height="40" />
                    </f:for>
                </a>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="onlyimages">
    <ul class="menu-images sub-menu-images">
        <f:for each="{menu}" as="page">
            <li>
                <a href="{page.link}" {f:if(condition: page.target, then: 'target="{page.target}"')} title="{page.title}" class="{f:if(condition: page.active, then: 'act')}" {f:if(condition: '{page.data.doktype} == 3', then: 'rel="noopener"')}>
                    <f:for each="{page.files}" as="file">
                        <img src="{f:uri.image(src:'{file.uid}', treatIdAsReference:'1', cropVariant: 'default')}" />
                    </f:for>
                </a>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="horizontal">
    <ul class="menu-horizontal">
        <f:for each="{menu}" as="page">
            <li>
                <a href="{page.link}" {f:if(condition: page.target, then: 'target="{page.target}"')} title="{page.title}" class="{f:if(condition: page.active, then: 'act')}" {f:if(condition: '{page.data.doktype} == 3', then: 'rel="noopener"')}>
                    <span>{page.title}</span>
                </a>
            </li>
        </f:for>
    </ul>
</f:section>

</html>
