<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="DefaultWithoutWrapper" />

<f:section name="Main">
    <div id="c{data.uid}" class="frame frame-group-text frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
        <f:render partial="Header/All" arguments="{_all}" />

        <div class="ce-bodytext">
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>
</f:section>

</html>
