<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="DefaultWithoutWrapper" />

<f:section name="Main">
    <div id="c{data.uid}" class="frame frame-group-text frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
        <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
            <f:if condition="{gallery.position.vertical} != 'below'">
                <f:render partial="Media/Gallery" arguments="{_all}" />
            </f:if>

            <f:if condition="{gallery.position.noWrap} != 1">
                <f:render partial="Header/All" arguments="{_all}" />
            </f:if>

            <f:if condition="{data.bodytext}">
                <f:then>
                    <div class="ce-bodytext">
                        <f:if condition="{gallery.position.noWrap}">
                            <f:render partial="Header/All" arguments="{_all}" />
                        </f:if>
                        <f:format.html>{data.bodytext}</f:format.html>
                    </div>
                </f:then>
                <f:else>
                    <f:if condition="{gallery.position.noWrap}">
                        <f:if condition="{data.header}">
                            <div class="ce-bodytext">
                                <f:render partial="Header/All" arguments="{_all}" />
                            </div>
                        </f:if>
                    </f:if>
                </f:else>
            </f:if>

            <f:if condition="{gallery.position.vertical} == 'below'">
                <f:render partial="Media/Gallery" arguments="{_all}" />
            </f:if>
        </div>
    </div>
</f:section>

</html>
