<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ttaddr="http://typo3.org/ns/FriendsOfTYPO3/TtAddress/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{contactPointAddresses}">
    <f:then>
        <div class="frame frame-default contactpoints">
            <h5><f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:detail.contactPoint" /></h5>
            <ul>
                <f:for each="{contactPointAddresses}" as="contactPointAddress" iteration="i">
                    <li class="contactpoint">
                        <f:for each="{contactPointAddress.image}" as="image">
                            <f:image src="{image.uid}" treatIdAsReference="1" />
                        </f:for>
                        <p>
                            {contactPointAddress.name}<br />
                            <f:if condition="{contactPointAddress.position}">
                                {contactPointAddress.position}<br />
                            </f:if>
                            <f:if condition="{contactPointAddress.phone}">
                                <f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:detail.phone.before" />
                                <a href="tel:{contactPointAddress.phone -> ttaddr:removeSpaces()}">{contactPointAddress.phone}</a><br />
                            </f:if>
                            <f:link.email email="{contactPointAddress.email}"></f:link.email>
                        </p>
                    </li>
                </f:for>
            </ul>
        </div>
    </f:then>
    <f:else>
        <f:if condition="{contactPointEmail} || {contactPointTelephone}">
            <div class="frame frame-default contactpoint">
                <h5>FallBack fields if no contact-address is set<br>available fields: e-mail and phone-number</h5>
                <f:if condition="{contactPointEmail}">
                    <p><f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:detail.contact_point_email.before" />
                        <f:link.email email="{contactPointEmail}"></f:link.email>
                    </p>
                </f:if>
                <f:if condition="{contactPointTelephone}">
                    <p>
                        <f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:detail.contact_point_telephone.before" />
                        <a href="tel:{contactPointTelephone -> ttaddr:removeSpaces()}">{contactPointTelephone}</a>
                        <f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:detail.contact_point_telephone.after" />
                    </p>
                </f:if>
            </div>
        </f:if>
    </f:else>
</f:if>

</html>
