<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ttaddr="http://typo3.org/ns/FriendsOfTYPO3/TtAddress/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{hiringOrganization}">
    <div class="frame frame-default hiringOrganization" itemscope itemtype="https://schema.org/LocalBusiness">
        <h5><f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:detail.hiringOrganization" /></h5>
        <f:if condition='{hiringOrganization.image}'>
            <div class="ce-image">
                <f:image src="{hiringOrganization.image.0.uid}" treatIdAsReference="1" />
            </div>
        </f:if>
        <f:if condition="{hiringOrganization.www}">
            <f:then>
                <a itemprop="url" href="{hiringOrganization.www}">
                    <span itemprop="name">{hiringOrganization.company}</span>
                </a>
            </f:then>
            <f:else>
                <span itemprop="name">{hiringOrganization.company}</span>
            </f:else>
        </f:if>

        <f:if condition="{hiringOrganization.description}">
            <div itemprop="description"><f:format.html>{hiringOrganization.description}</f:format.html></div>
        </f:if>

        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <f:if condition="{hiringOrganization.region}">
                <span itemprop="addressRegion">{hiringOrganization.region}</span>
            </f:if>
            <f:if condition="{hiringOrganization.address}">
                <span itemprop="streetAddress">{hiringOrganization.address}</span><br />
            </f:if>

            <f:if condition="{hiringOrganization.zip} || {hiringOrganization.city}">
                <span class="city">
                    <f:if condition="{hiringOrganization.zip}">
                        <span itemprop="postalCode">{hiringOrganization.zip}</span>&nbsp;
                    </f:if>
                    <f:if condition="{hiringOrganization.city}">
                        <span itemprop="addressLocality">{hiringOrganization.city}</span>
                    </f:if>
                </span>
            </f:if>
        </div>

        <f:if condition="{hiringOrganization.phone}">
            <span itemprop="telephone">
                <f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:detail.hiring_organization.phone.before" />
                <a href="tel:{hiringOrganization.phone->ttaddr:removeSpaces()}">{hiringOrganization.phone}</a><br />
            </span>
        </f:if>

        <f:if condition="{hiringOrganization.email}">
            <span itemprop="email">
                <f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:detail.hiring_organization.email.before" />
                <f:link.email email="{hiringOrganization.email}">{hiringOrganization.email}</f:link.email>
            </span>
        </f:if>
    </div>
</f:if>

</html>
